.root{
	-fx-background-color: #383838;
	-fx-font-size: 20pt;
	-fx-font-weight: bold;
}
.label{
	-fx-font-size: 10pt;
	-fx-text-fill: #989898;
}
.button{
	-fx-font-size: 10pt;
	-fx-padding: 0pt 12pt 0pt 12pt;
	-fx-background-color: #585858;
	-fx-text-fill: #989898;
}
.button:hover{
	-fx-text-fill: #383838;
}
.button:pressed{
	
}
