.root{
	-fx-background-color: #383838;
	-fx-font-weight: bold;
}
.label{
	-fx-font-size: 12pt;
	-fx-text-fill: #989898;
}
.button{
	-fx-font-size: 12pt;
	-fx-padding: 0pt 12pt 0pt 12pt;
	-fx-background-color: #585858;
	-fx-text-fill: #989898;
}
.button:hover{
	-fx-text-fill: #383838;
}
.button:pressed{
	-fx-text-fill: #393939;
}
.menu-button{
	-fx-font-size: 24pt;
	-fx-background-color: #383838;
	-fx-border-color: #000000;
	-fx-border-width: 1pt;
}
.menu-button > .arrow-button {
    -fx-padding: 0;
}
.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}
.menu-button:hover{
	-fx-text-fill: #126573;
}
.choice-box{
	-fx-background-color: #383838;
	-fx-border-color: #000000;
	-fx-border-width: 1pt;
}
.list-view{
	-fx-border-radius: 1pt;
	-fx-border-width: 2pt, 2pt, 2pt, 2pt;
	-fx-border-color: black; 
	-fx-background-color: #383838;
}
.list-view .list-cell:even {
	-fx-background-color: #383838;
	-fx-text-fill: #989898;
}
.list-view .list-cell:odd {
	-fx-background-color: #383838;
	-fx-text-fill: #989898;
}
.list-view .list-cell:hover{
	-fx-text-fill: #126573;
}